
#quoteList {
    
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.quote{
   height: 80%;
   width:80%;
   border-radius: 20px;
}


.quote-author {
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
}


.quote-content {
    font-size: 1.1em;
    color: #555;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: italic;
    color: red;
}


